<div class="container d-flex justify-content-around flex-wrap mb-2 pt-4 pb-4">

    <div class="top__box">
        <%= image_tag "booki.jfif", class: "top__box--img rounded", alt: "Book Now for Event Center & Office Spaces" %>
        <a target="_blank" href="https://form.jotform.com/203304865946562/">
            <button class="top__box--btn btn btn-htg">Book Now</button>
        </a>
    </div>

    <div class="top__box">
        <%= image_tag "request.jfif", class: "top__box--img rounded", alt: "BLINC is an all-in-one Learning Management platform that helps you manage your school from anywhere in the world." %>
        <a target="_blank" href="https://form.jotform.com/203302000567540">
            <button class="top__box--btn btn btn-htg">Request a Demo</button>
        </a>
    </div>

    <div class="top__box">
        <%= image_tag "try.jfif", class: "top__box--img rounded", alt: "Online Public Access Catalog" %>
        <a target="_blank" href="http://opac.theibomelibrary.com/">
        <button class="top__box--btn btn btn-htg">Try it/Signup</button>
        </a>
    </div>

    <div class="top__box">
        <%= image_tag "registration.jpg", class: "top__box--img rounded", alt: "Register Now on HTG Academy" %>
        <a target="_blank" href="https://htgacademy.com/">
        <button class="top__box--btn btn btn-htg">Register Now</button>
        </a>
    </div>

</div>
