<div id="htgSliderControls" class="carousel slide home-slider" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
       <%= image_tag "banner/slide003_boyreading.jpg", class: "d-block w-100", alt: "first slide" %>
       <div class="carousel-caption d-none d-md-block">
        <h1 class="carousel-header">Learn . Innovate . Impact</h1><br>
        <p class="carousel-p">More than a  library</p>
       </div>
    </div>

  

    <div class="carousel-item">
      <%= image_tag "banner/slide002.jpg", class: "d-block w-100", alt: "second slide" %>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="carousel-header">West Africa's first digital library</h1><br>
        <p class="carousel-p">Designed to deliver topnotch information and educational services both onsite and virtually.</p>
       </div>
    </div>

    <div class="carousel-item">
      <%= image_tag "banner/slide001.jpg", class: "d-block w-100", alt: "third slide" %>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="carousel-header">Technology and Education Cradle</h1><br>
        <p class="carousel-p">A springboard to African solutions created by African for African challenges</p>
       </div>
    </div>

  </div>

  <a class="carousel-control-prev" href="#htgSliderControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#htgSliderControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
