<%= render 'shared/slider' %>
<%= render 'shared/book' %>

<section class='section about'>
   <div class="section-box">
     <div class="section-content">
        <h4 class="header-sub">About us</h4>
        <h2 class="head-primary">Education <span class="head-secondary">per Excellence</span></h2>
        <p class="paragraph">With the current Private Public Partnership (PPP) between the State Government and HTG Limited, this monumental edifice continues to provide, credible, convenient, and affordable educational technology services for everyone.</p>
        <p class="paragraph">HTG Limited is an outstanding business solutions provider leveraging on technology to proffer business solutions to enterprises and public service organizations. Our core values span across Innovation, resourcefulness, and delivering quality services with the utmost professionalism to our teeming clients. We take pride in our work ethics and the many solutions we consistently offer.</p>
        
         <%= link_to about_path do %>
        <button class="btn btn-htg">read more</button>
        <% end %>
    </div>
    <div class="section-img">
        <%= image_tag "elibrary_open.jpg", class: "about-img d-inline-block mr-5 p-2" %>
    </div>
   </div>
</section>






