<%= render 'shared/slider' %>
<%= render 'shared/book' %>

<section class='section about'>
   <div class="section-box">
     <div class="section-content">
        <h4 class="header-sub">What we do</h4>
        <h2 class="head-primary">Education <span class="head-secondary">per Excellence</span></h2>
        <p>Objectively integrate enterprise-wide strategic theme areas with functionalized infrastructures, interactively productize premium technologies.</p>
        <p>Objectively integrate enterprise-wide strategic theme areas with functionalized infrastructures, interactively productize premium technologies.</p>
        <p>Objectively integrate enterprise-wide strategic theme areas with functionalized infrastructures, interactively productize premium technologies.</p>
    </div>
    <div class="section-img">
        <%= image_tag "elibrary_open.jpg", class: "about-img d-inline-block mr-5" %>
    </div>
   </div>
</section>






