@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";
@import "variables";
@import "home";
@import "about";


// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.htg-logo {
  max-height: 40px;
}

.home-nav {
  position: relative;
  z-index: 2000;
  background-color: rgba($color: #fff, $alpha: 0.4);

  .nav-link {
    // color: #000 !important;
    text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.3);
    font-weight: 700;
  }
}