$color-primary: #ff6501;
$color-primary-light: #ff8c00;
$color-secondary: #20128e;


.home-slider {
  margin-top: -66px;
}

.top__box {
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;

  &--img {
    width: 95%;
    box-shadow: 1px 0.5px 2px rgba($color: #000000, $alpha: 0.2);
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
      box-shadow: 1px 1px 0.5px rgba($color: #000000, $alpha: 0.1);
      transform: translateY(-2px) scale(1.1);
    }

    @media screen and (min-width: 600px) {
      width: 15rem;
    }
  }

  &--btn {
    position: absolute;
    bottom: 1.8rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer !important;
  }
}

.btn-htg {
  color: #fff;
  // background-color: $color-secondary;
  // border-color: $color-secondary;
  background-color: $color-primary-light;	    
    border-color: $color-primary-light;
  box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.2);

  &:hover {
    color: $color-primary-light;
  }
}

.section {
  padding: 5rem 2rem;
  background-color: #def1f6;
  overflow: hidden;

  @media screen and (min-width: 550px) {
    padding: 8rem 5rem;
  }

  &-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;

    @media screen and (min-width: 900px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .header-sub {
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    left: 7rem;

    &::before {
      content: "";
      width: 6.5rem;
      height: 2px;
      background-color: $color-primary;
      position: absolute;
      left: -7rem;
      top: calc(50% - 2px);
    }
  }

  .head-primary {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: $color-primary;

    @media screen and (min-width: 550px) {
      font-size: 4.5rem;
      letter-spacing: -2px;
    }

    .head-secondary {
      color: $color-primary-light;
      text-transform: capitalize;
      font-size: 1.7rem;
      margin-top: -1rem;
      display: block;

      @media screen and (min-width: 550px) {
        font-size: 3.5rem;
        margin-top: -1.8rem;
      }

      @media screen and (min-width: 680px) {
        font-size: 4rem;
      }
    }
  }

  .about-img {
    max-width: 100%;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.3);
    transform: scale(1);

    @media screen and (min-width: 550px) {
      border-top-left-radius: 6rem;
      border-bottom-right-radius: 6rem;
    }

    @media screen and (min-width: 680px) {
      border-top-left-radius: 10rem;
      border-bottom-right-radius: 10rem;
    }

    &:hover {
      border-top-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      transform: translateY(-2px) scale(1.1);
      box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);
    }
  }

  &:hover .about-img:hover {
    transform: scale(1.2);
  }

  .paragraph {
    color: rgb(66, 66, 66) !important;
    font-size: 1.1rem;
    text-align: justify;
  }
}

.htg-b {
  font-weight: 900;
  color: #fff;
}

.carousel {
  &-header,
  &-p {
    background-color: rgba($color-primary, $alpha: 0.8);
    display: inline-block;
    padding: 0.2rem 1rem;
    border-radius: 8px;
    color: #fff;
  }

  &-header {
    text-transform: uppercase;
    font-size: 2.8rem;
    text-shadow: 1px 2px 4px rgba($color: #000000, $alpha: 0.5);
  }

  &-p {
    font-size: 1.8rem;
    margin-top: -2px;
  }
}
